# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

env
exe_times
__time_quick_sort_files__
InputFileGenerator
Azeem_Musa_QuickSort
Azeem_Musa_executionTime.txt
Azeem_Musa_averageExecutionTime.txt
Azeem_Musa_plotAverageExecutionTime.jpg
CSCE350Project_Azeem_Musa.zip
out
output*
input
.vscode